<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %}Bootstrap{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(54355261, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54355261" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

	<link href=”//vjs.zencdn.net/7.0/video-js.min.css” rel=”stylesheet”>
<script src=”//vjs.zencdn.net/7.0/video.min.js”></script>
</head>
<style type="text/css">
	body{
		background-image: url("{% static "images/background.jpg" %}");
		 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	}

	#gl{
		color: white;

	}
	#ss{
		text-decoration: none;
	}
	#m_nu{
		border-radius: 20px;
	}
	#wer{
    object-fit: cover;
    width: 300px;
    height: 250px;
  }
  #werm{
    object-fit: cover;
    height: 196px;
  }
</style>
<body>
<div class="container px-lg-5" style="border-radius: 10px">
	 <div class="row mx-lg-n5"></div>
	</br>
	 <div class="row mx-lg-n5">
    <div class="col-md-7"><p class="h3" style="font-size: 14pt" id="gl">{% block site_title %}Муниципальное Учреждение Культуры Администрации <br> МО "Сенгилеевский район" Ульяновской области{% endblock %}</p>
    </div>
	<div class="col-md-2"></div>
	<div class="col-md-3"><button type="button"  id="finevision_banner" onclick="finevision.activate_navbar()"  class="btn btn-warning">Версия для слабовидящих</button></div>
</div>
	<br>
	<div class="row mx-lg-n5">
		<div class="col-md-5"><p class="h3" style="color: white; font-family: Bad S; padding-left: 30px;" >Успех начинается с нами!</p>
            <a id="ss" href="/"><h5  style="font-size: 30pt; font-family: Bad S" id="gl">{% block brand %}Муниципальный культурный комплекс{% endblock %}</h5></a>

        </div>
		<div class="col-md-3"><img src="{% static "images/main.jpg" %}" style="border-radius: 20px; height: 200px; width: 270px;"></div>
		<div class="col-md-4"> 
			<h2 style="font-size: 25pt; font-family: Times New Roman" id="gl">{% block phone %}
      8(8422)2-15-61{% endblock %}</h2> <br>
			<form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск по сайту" aria-label="Search" name="q">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Поиск</button>
    </form>

		</div>
	</div>
	<br>
	{% include "menu.html" %}
	<br>
</div>

	<br>
  {% block content %}

	{% endblock %}


<br><br>

<div class="card-footer bg-dark sticky-bottom ">
	<p class="h6" style="color: white">{{ sett.title_site }}</p>
</div>






</body>
</html>