{% load static %}

  <div class="container">
	<div class="card border-light">
		<a href="{% url "events" %}" style="text-decoration: none; color: black"><div class="card-header bg-light">
Мероприятия
  </div></a>
  <br>
  <div class="card-body text-primary">
	<div id="carouselExampleControls" class="carousel slide align-self-center" data-ride="carousel">
  		<div class="carousel-inner">
    <div class="carousel-item active">

    	<div class="row">
        {% if merop %}
        {% for m in merop %}
    		<div class="col-sm"><div class="card" style="width: 18rem;">
  <img src="{{ MEDIA_URL }}{{ m.image.url }}" class="card-img-top" alt="..." id="werm">
  <div class="card-body">
    <a href="events/{{ m.id }}" style="text-decoration: none; color: black"><p class="card-text">{{ m.event_text | safe | truncatechars_html:40  }}</p></a>
  </div>
</div></div>
          {% endfor %}
{% endif %}
    	</div>
    </div>
{% if merop2 %}
    <div class="carousel-item">
     <div class="row">
        
        {% for m in merop2 %}
    		<div class="col-sm"><div class="card" style="width: 18rem;">
  <img src="{{ MEDIA_URL }}{{ m.image.url }}" class="card-img-top" alt="..." id="werm">
  <div class="card-body">
    <a href="events/{{ m.id }}" style="text-decoration: none; color: black"><p class="card-text">{{ m.event_text | safe | truncatechars_html:40  }}</p></a>
  </div>
</div></div>
          {% endfor %}

    	</div>
    </div>
{% endif %}
{% if merop3 %}
    <div class="carousel-item">
     <div class="row">
        
        {% for m in merop3 %}
    		<div class="col-sm"><div class="card" style="width: 18rem;">
  <img src="{{ MEDIA_URL }}{{ m.image.url }}" class="card-img-top" alt="..." id="werm">
  <div class="card-body">
    <a href="events/{{ m.id }}" style="text-decoration: none; color: black"><p class="card-text">{{ m.event_text | safe | truncatechars_html:40  }}</p></a>
  </div>
</div></div>
          {% endfor %}

    	</div>
    </div>
{% endif %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div><br>
			</div>
</div>