{% extends "base.html" %}
{% load static %}
{% block title %}Новости{% endblock %}
{% include "menu.html" %}

{% block content %}
<style>
  #wer{
    object-fit: cover;
    width: 300px;
    height: 250px;
  }
</style>

<br>
<div class="container">

	<div class="row">
    <div class="col-md-1"></div>
<div class="col">
<div class="card border-primary">
  <div class="card-header bg-light" style="font-size: 14pt;">Новости</div>
  <div class="card-body">
      {% if articels %}
    <ul class="list-unstyled">
    {% for e in articels %}
  <li class="media" >
    <img src="{{ MEDIA_URL }}{{ e.image.url }}" class="mr-2" alt="..." id="wer">
    <div class="media-body">
      <a href="{{e.id}}"><h5 class="mt-0 mb-1">{{ e.title }}</h5></a>
      <div class="row">
        <div class="col">
      {{ e.text | safe | truncatewords_html:15 }}
        </div>
      </div>
      <br>
        <div class="row"><div class="col-md-4"><p class="text-center bg-primary" style="font-size: 12pt; color: white; border-radius: 10px">
            {{ e.date_a }}</p></div></div>

    </div>
  </li>
  <br><br>
  {% endfor %}


</ul>
      {% endif %}
  {% include "pagination.html" with page=articels %}
  </div>
</div>
</div>
<div class="col-md-1"></div>
</div>
</div>
<br><br>
{% endblock %}

